
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Home</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  {% load static %}
  <link rel="stylesheet" type "text/css"
    href="{% static 'styles.css' %}">
</head>

<body>
    <div class="box-primary">
          <img class="round"; src="{%  static  'logo.png'  %}" alt="Logo" style="width:200px;height:200px;"></img>
          <h1>Welcome to Dryden Tutoring!</h1>
          <h3>Tutoring for students by students.</h3>
          <div class="logos">
            <img class="round"; src="{%  static  'instagram.png'  %}" alt="Logo" style="width:100px;height:100px;"></img>
            <img class="round"; src="{%  static  'facebook.png'  %}" alt="Logo" style="width:100px;height:100px;"></img>
            <img class="round"; src="{%  static  'yelp.png'  %}" alt="Logo" style="width:100px;height:100px;"></img>
          </div>
    </div>
    <div class="box-secondary">
        <center>
          <h1>All Kinds of Prep</h1>
          <h3>Everything from math to computer science</h3>
          <br>
          <div class="class-container">
            <div class = "blank"></div>
            <div class="classes">
              <h4><b>Science</b></h4>
              <p>Gravity pulls you down</p>
            </div>
              <div class = "blank"></div>
              <div class="classes">
                <h4><b>Science</b></h4>
                <p>Gravity pulls you down</p>
              </div>
              <div class = "blank"></div>
              <div class="classes">
                <h4><b>Science</b></h4>
                <p>Gravity pulls you down</p>
              </div>
              <div class = "blank"></div>
          </div>
      </center>
    </div>
    <div class="box-primary">
      <h1>All at an affordable cost</h1>
      <h3>1 million dollars PER session, some might call that a STEAL</h3>
    </div>
</body>

</html>
